body {
    font-family: Nevis;
}

#about-home,
#history-home,
#roster-home,
#schedule-home,
#gallery-home,
#contact-home,
#donate-home {
    padding: 100px 0px 50px 0px;
    background-color: #017bff;
}

.history-table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

.history-table td, 
.history-table th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.contact-summary a {
    color: orange;
}

/* .history-table tr:nth-child(even) {
    background-color: orange;
} */

.footer-body {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #434343;
    display: flex;
    align-items: center;
    padding: 10px;
}

.footer-body .ultimate {
    float: left;
}

.footer-body .ultimate a {
    text-decoration: none;
    padding: 2.5px 7.5px;
    color: #ffffff;
}

.footer-body .contact {
    margin-left: auto;
    float: right;
}

.footer-body .contact .fa {
    padding: 2.5px 5px;
    color: #ffffff;
}
